@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    scroll-behavior: smooth;
}


@media only screen and (max-width:3500px){


.col-lg-2{
    width: 50%;
}

/* Tipografías */ 
h1{
    font-family: Roboto Slab;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: #363636;
    padding-bottom: 64px;
}

h1.light{
    font-family: Roboto Slab;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: #ffffff;
    padding-bottom: 64px;
}

h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #FFFFFF;
}

h3{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
}

h3.secondary{
    color: #CCA43B;
}

p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
}

p.dark{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #363636;
}

p.maintitle{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: #FFFFFF;
}

p.maintitleDark{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    color: #363636;
}

p.captionlight{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
}

p.captiondark{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    color: #363636;
}


span.secondary{
    color: #CCA43B;
}

span.terciary{
    color: #363636;
}

p.legal{
    font-family: Roboto Slab;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: #363636;
}

a{
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

a.light{
    color: #FFFFFF;
}

a.dark{
    color: #363636;
}

a:hover{
    color: #CCA43B;
}

.accordion-header button{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color:#363636;
}

.accordion-button:not(.collapsed){
    background-color: #363636;
}

.accordion-button:not(.collapsed){
    color: #CCA43B;
}

.accordion-body{
    font-size: 16px;
    color: #FFFFFF;
}

.accordion-item{
    background-color: #363636;}


.row{
    justify-content: space-between;
    align-items: center;
}


.imagenPrimaria img{
    position: sticky;
    height: auto;
    width: 100%;
}

/* Header */ 

.bg-light{
    background-color: #E5E5E5 !important;
}


.navbar{
    display: flex;
    
}

.nav-item{
    margin: 0 32px;
}

.nav-link{
    color: #363636;
}

.nav-link:hover{
    color: #CCA43B;
}








/* Noticias */
.noticias{
    background-color: #FFFFFF;
    border: 1 solid #363636;
    display: flex;
    justify-content: space-between;
    padding: 4px;
}


.noticias p{
    color: #363636;
}







/* Main */
main{
    background-color: #E5E5E5;
    padding-bottom: 64px;
}


.contenedor{
    flex-direction: column;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    align-content: left;
}

form div{
    padding-bottom: 16px;
}

div.imagenPrimaria{
    position: relative;
}


div.imagenPrimaria img{
    position: sticky;
    height: auto;
    width: 100%;
}

.etiqueta{
    background-color: #CCA43B;
    padding: 4px 8px;
    display: inline-block;
}

.checkbox{
    display: flex;
}




hr{
    color: #FFFFFF;
}




/* Módulo 1 */ 
.modulo1{
    background-color:#363636;
    padding: 64px;
}


.carrousel div {
    display: flex;
}


.carrousel div img{
    width: 100%;
}

.accordion-button::after {
    filter: grayscale(100%);
} 


.moduloTitle{
    display: flex;
    justify-content: space-between;
}

.preguntas div{
    padding-bottom: 32px;
}

.fa-chevron-down{
    color: #FFFFFF;
    width: 24px;
}






/* Módulo 2 */ 
.modulo2{
    background-color:#CCA43B;
    padding: 64px;
}


.carrousel div {
    display: flex;
}


.carrousel div img{
    width: 100%;
}


.moduloTitle{
    display: flex;
    justify-content: space-between;
}



/* Módulo 3 */ 
.modulo3{
    background-color:#E5E5E5;
    padding: 64px;
}

.titleModulo3{
    text-align: center;
    padding-bottom: 64px;
}


.cajas{
    justify-content: center;
}

.cajalight{
    border: 2px solid #363636;
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
}

.cajadark{
    background-color: #363636;
    padding: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
}


.servicios{
    padding-top: 64px;
}





/* Footer */
footer{
    background-color:#FFFFFF;
    padding: 64px;
}

footer .logo{
    padding-bottom: 32px;
}

footer div ul{
    padding: 0;
}

footer div ul li{
    list-style: none;
    display: inline-flex;
    padding-right: 16px;
}

footer div ul li i{
    font-size: 24px;
    color: #CCA43B;
}

footer div ul li i:hover{
    font-size: 24px;
    color: #363636;
}



/* Contacto */
.headerDark{
    padding: 20px;
    background-color: #363636;
    height: 64px;
    display:flex;
    justify-content: space-between;
}


.headerDark div{
    justify-content:left
}

.headerDark nav{
    padding: 9px 0px;
    justify-content:flex-end;
}

.headerDark nav ul li{
    margin: 0 32px;
    display: inline-block;
}

.headerDark nav ul li a{
    color: #FFFFFF;
}

.headerDark nav ul li a:hover{
    color: #CCA43B;
}


.mainDark{
    background-color: #363636;
    display: flex;
    justify-content: space-between;
    padding: 64px;
    flex-direction: column;
    text-align: center;
}

.mainDark a{
    color: #ffffff;
}


.mainDark a:hover{
    color: #CCA43B;
}

main.mainDark div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

main.mainDark div div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: left;
}



.mainDark div form{
    color: #FFFFFF;
}

.mainDark div form div{
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.mainDark div form div{
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
}
.mainDark div form div{
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
}


.checkbox{
    display: flex;
}


.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 600px);
}

.item{
    background-size: cover;
    background-position: center;
}

.item1{
    background-image: url(images/imagen_2.webp);
    grid-column: 1/2;
    grid-row: 1/2;
}

.item2{
    background-image: url(images/imagen_3.webp);
    grid-column: 2/3;
    grid-row: 1/2;
}
.item3{
    background-image: url(images/imagen_4.webp);
    grid-column: 3/4;
    grid-row: 1/2;
}
.item4{
    background-image: url(images/imagen_5.webp);
    grid-column: 1/2;
    grid-row: 2/3;
}
.item5{
    background-image: url(images/imagen_6.webp);
    grid-column: 2/3;
    grid-row: 2/3;
}
.item6{
    background-image: url(images/imagen_7.webp);
    grid-column: 3/4;
    grid-row: 2/3;
}
.item7{
    background-image: url(images/imagen_8.webp);
    grid-column: 1/2;
    grid-row: 3/4;
}
.item8{
    background-image: url(images/imagen_9.webp);
    grid-column: 2/3;
    grid-row: 3/4;
}
.item9{
    background-image: url(images/imagen_10.webp);
    grid-column: 3/4;
    grid-row: 3/4;
}
.item10{
    background-image: url(images/imagen_11.webp);
    grid-column: 1/2;
    grid-row: 4/5;
}
.item11{
    background-image: url(images/imagen_12.webp);
    grid-column: 2/3;
    grid-row: 4/5;
}
.item12{
    background-image: url(images/imagen_13.webp);
    grid-column: 3/4;
    grid-row: 4/5;
}
.item13{
    background-image: url(images/imagen_16.webp);
    grid-column: 1/2;
    grid-row: 5/6;
}
.item14{
    background-image: url(images/imagen_17.webp);
    grid-column: 2/3;
    grid-row: 5/6;
}
.item15{
    background-image: url(images/imagen_18.webp);
    grid-column: 3/4;
    grid-row: 5/6;
}
.item16{
    background-image: url(images/imagen_19.webp);
    grid-column: 1/2;
    grid-row: 6/7;
}
.item17{
    background-image: url(images/imagen_20.webp);
    grid-column: 2/3;
    grid-row: 6/7;
}
.item18{
    background-image: url(images/imagen_21.webp);
    grid-column: 3/4;
    grid-row: 6/7;
}
.item19{
    background-image: url(images/imagen_22.webp);
    grid-column: 1/2;
    grid-row: 7/8;
}
.item20{
    background-image: url(images/imagen_23.webp);
    grid-column: 2/3;
    grid-row: 7/8;
}
.item21{
    background-image: url(images/imagen_24.webp);
    grid-column: 3/4;
    grid-row: 7/8;
}
.item22{
    background-image: url(images/imagen_28.webp);
    grid-column: 1/2;
    grid-row: 8/9;
}
.item23{
    background-image: url(images/imagen_29.webp);
    grid-column: 2/3;
    grid-row: 8/9;
}
.item24{
    background-image: url(images/imagen_30.webp);
    grid-column: 3/4;
    grid-row: 8/9;
}
.item25{
    background-image: url(images/imagen_31.webp);
    grid-column: 1/2;
    grid-row: 9/10;
}
.item26{
    background-image: url(images/imagen_32.webp);
    grid-column: 2/3;
    grid-row: 9/10;
}
.item27{
    background-image: url(images/imagen_33.webp);
    grid-column: 3/4;
    grid-row: 9/10;
}
.item28{
    background-image: url(images/imagen_37.webp);
    grid-column: 1/2;
    grid-row: 10/11;
}
.item29{
    background-image: url(images/imagen_38.webp);
    grid-column: 2/3;
    grid-row: 10/11;
}
.item30{
    background-image: url(images/imagen_39.webp);
    grid-column: 3/4;
    grid-row: 10/11;
}
.item31{
    background-image: url(images/imagen_40.webp);
    grid-column: 1/2;
    grid-row: 11/12;
}
.item32{
    background-image: url(images/imagen_41.webp);
    grid-column: 2/3;
    grid-row: 11/12;
}
.item33{
    background-image: url(images/imagen_42.webp);
    grid-column: 3/4;
    grid-row: 11/12;
}
.item34{
    background-image: url(images/imagen_43.webp);
    grid-column: 1/2;
    grid-row: 12/13;
}
.item35{
    background-image: url(images/imagen_44.webp);
    grid-column: 2/3;
    grid-row: 12/13;
}
.item36{
    background-image: url(images/imagen_45.webp);
    grid-column: 3/4;
    grid-row: 12/13;
}

}



@media only screen and (max-width:768px){
.col-lg-2{
    width: 100%;
}
.galeria{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(36, 200px);
}

.item1{
    background-image: url(images/imagen_2.webp);
    grid-column: 1/2;
    grid-row: 1/2;
}

.item2{
    background-image: url(images/imagen_3.webp);
    grid-column: 1/2;
    grid-row: 2/3;
}
.item3{
    background-image: url(images/imagen_4.webp);
    grid-column: 1/2;
    grid-row: 3/4;
}
.item4{
    background-image: url(images/imagen_5.webp);
    grid-column: 1/2;
    grid-row: 4/5;
}
.item5{
    background-image: url(images/imagen_6.webp);
    grid-column: 1/2;
    grid-row: 5/6;
}
.item6{
    background-image: url(images/imagen_7.webp);
    grid-column: 1/2;
    grid-row: 6/7;
}
.item7{
    background-image: url(images/imagen_8.webp);
    grid-column: 1/2;
    grid-row: 7/8;
}
.item8{
    background-image: url(images/imagen_9.webp);
    grid-column: 1/2;
    grid-row: 8/9;
}
.item9{
    background-image: url(images/imagen_10.webp);
    grid-column: 1/2;
    grid-row: 9/10;
}
.item10{
    background-image: url(images/imagen_11.webp);
    grid-column: 1/2;
    grid-row: 10/11;
}
.item11{
    background-image: url(images/imagen_12.webp);
    grid-column: 1/2;
    grid-row: 11/12;
}
.item12{
    background-image: url(images/imagen_13.webp);
    grid-column: 1/2;
    grid-row: 12/13;
}
.item13{
    background-image: url(images/imagen_16.webp);
    grid-column: 1/2;
    grid-row: 13/14;
}
.item14{
    background-image: url(images/imagen_17.webp);
    grid-column: 1/2;
    grid-row: 14/15;
}
.item15{
    background-image: url(images/imagen_18.webp);
    grid-column: 1/2;
    grid-row: 15/16;
}
.item16{
    background-image: url(images/imagen_19.webp);
    grid-column: 1/2;
    grid-row: 16/17;
}
.item17{
    background-image: url(images/imagen_20.webp);
    grid-column: 1/2;
    grid-row: 17/18;
}
.item18{
    background-image: url(images/imagen_21.webp);
    grid-column: 1/2;
    grid-row: 18/19;
}
.item19{
    background-image: url(images/imagen_22.webp);
    grid-column: 1/2;
    grid-row: 19/20;
}
.item20{
    background-image: url(images/imagen_23.webp);
    grid-column: 1/2;
    grid-row: 20/21;
}
.item21{
    background-image: url(images/imagen_24.webp);
    grid-column: 1/2;
    grid-row: 21/22;
}
.item22{
    background-image: url(images/imagen_28.webp);
    grid-column: 1/2;
    grid-row: 22/23;
}
.item23{
    background-image: url(images/imagen_29.webp);
    grid-column: 1/2;
    grid-row: 23/24;
}
.item24{
    background-image: url(images/imagen_30.webp);
    grid-column: 1/2;
    grid-row: 24/25;
}
.item25{
    background-image: url(images/imagen_31.webp);
    grid-column: 1/2;
    grid-row: 25/26;
}
.item26{
    background-image: url(images/imagen_32.webp);
    grid-column: 1/2;
    grid-row: 26/27;
}
.item27{
    background-image: url(images/imagen_33.webp);
    grid-column: 1/2;
    grid-row: 27/28;
}
.item28{
    background-image: url(images/imagen_37.webp);
    grid-column: 1/2;
    grid-row: 28/29;
}
.item29{
    background-image: url(images/imagen_38.webp);
    grid-column: 1/2;
    grid-row: 29/30;
}
.item30{
    background-image: url(images/imagen_39.webp);
    grid-column: 1/2;
    grid-row: 30/31;
}
.item31{
    background-image: url(images/imagen_40.webp);
    grid-column: 1/2;
    grid-row: 31/32;
}
.item32{
    background-image: url(images/imagen_41.webp);
    grid-column: 1/2;
    grid-row: 32/33;
}
.item33{
    background-image: url(images/imagen_42.webp);
    grid-column: 1/2;
    grid-row: 33/34;
}
.item34{
    background-image: url(images/imagen_43.webp);
    grid-column: 1/2;
    grid-row: 34/35;
}
.item35{
    background-image: url(images/imagen_44.webp);
    grid-column: 1/2;
    grid-row: 35/36;
}
.item36{
    background-image: url(images/imagen_45.webp);
    grid-column: 1/2;
    grid-row: 12/13;
}
}